h2 {
    margin-top: 12px;
}

h1 + h2 {
    margin-top: 0;
}

.slide-header {
    display: none !important;
}

.slide-base-grid {
    grid-template-rows: 1fr !important;
}

.subheading-layout {
    gap: 0 !important;
}
