h2 {
    margin-top: 16px;
    font-weight: bold;
    color: var(--slidev-theme-primary);
}

.slide-header {
    display: none !important;
}

.slide-base-grid {
    grid-template-rows: 1fr !important;
}

.subheading-layout {
    gap: 0 !important;
}

.slidev-vclick-target {
    transition: all 300ms ease;
}

.slidev-vclick-hidden {
    opacity: 0;
}
